<% include partials/header %>

  <div class="row about">
    <div class="large-4 columns">
      <img src="http://placehold.it/800x1200" alt="" />
    </div>
    <div class="large-8 columns">
      <h1>About Page</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor consequat nunc, at lobortis lacus bibendum vitae. Suspendisse eget dignissim lectus. Nunc facilisis ex magna. Integer sem nisi, sagittis sed felis vitae, convallis sollicitudin est. Aliquam facilisis ornare risus, non scelerisque eros ultricies eu. Suspendisse porttitor at sem in tincidunt. Maecenas at justo consectetur, facilisis est in, suscipit elit. Nulla hendrerit efficitur felis, in dignissim mauris luctus ut. Phasellus sed condimentum tellus. In a tempor tellus. Ut elementum turpis mi, ac hendrerit velit fringilla id.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor consequat nunc, at lobortis lacus bibendum vitae. Suspendisse eget dignissim lectus. Nunc facilisis ex magna. Integer sem nisi, sagittis sed felis vitae, convallis sollicitudin est. Aliquam facilisis ornare risus, non scelerisque eros ultricies eu. Suspendisse porttitor at sem in tincidunt. Maecenas at justo consectetur, facilisis est in, suscipit elit. Nulla hendrerit efficitur felis, in dignissim mauris luctus ut. Phasellus sed condimentum tellus. In a tempor tellus. Ut elementum turpis mi, ac hendrerit velit fringilla id.
      </p>
    </div>
  </div>

<% include partials/footer %>
