<% include partials/header %>
    <div class="row">
        <div class="large-2">Left side</div>
        <div class="row">
            <div class="large-12">Phrasecards</div>
        </div>
        <div class="row">
            <div class="large-6">David</div>
            <div class="large-2">logo</div>
            <div class="large-4">Points</div>
        </div>
        <div class="row">
            <div class="large-6">Pippin</div>
            <div class="large-2">logo</div>
            <div class="large-4">Points</div>
        </div>
        <div class="row">
            <div class="large-6">Yue</div>
            <div class="large-2">logo</div>
            <div class="large-4">Points</div>
        </div>
        <div class="row">
            <div class="large-6">Dan</div>
            <div class="large-2">logo</div>
            <div class="large-4">Points</div>
        </div>
        <div class="row">
            <div class="large-6">Mike</div>
            <div class="large-2">logo</div>
            <div class="large-4">Points</div>
        </div>
        <div class="row">
            <div class="large-6">Sean</div>
            <div class="large-4">Points</div>
            <div class="large-2">logo</div>
        </div>
        <div class="row">
            <div class="large-6">Colby</div>
            <div class="large-2">logo</div>
            <div class="large-4">Points</div>
        </div>
        <div class="large-12">Round N</div>
    </div>

    <div class="row">
        <div class="large-10">Right Side</div>
        <div class="row">
            <div row="large-11">blank</div>
            <div row="large-1">timer</div>
        </div>
        <div class="row">
            <div row="large-12">Text</div>
        </div>
        <div class="row">
            <div row="large-12">Input</div>
        </div>
        <div class="row">
            <div row="large-8">Story Text</div>
            <div class="row">
                <div row="large-12">Player 1</div>
            </div>
            <div class="row">
                <div row="large-12">Player 1</div>
            </div>
            <div class="row">
                <div row="large-12">Player 1</div>
            </div>
            <div class="row">
                <div row="large-12">send text</div>
            </div>
        </div>
    </div>
<% include partials/footer %>