<% include partials/header %>

<div id="sidebar_parent" class="medium-3 large-3 columns sidebar">
  <!-- Blaze will populate this element with the "sidebar" template -->
</div>

<div id="gameArea_parent" class="medium-9 large-9 columns game_area">
  <!-- Blaze will populate this element with the "gameArea" template -->
</div>

<!-- Blaze/Spacebars Templates Below This Line -->

<script type="text/spacebars" name="sidebar">
  <div class="row">
    <div class="large-12 columns logo"><img src="/images/logo.png" alt="" /></div>
  </div>

  {{#each players}}
    <div class="row player">
      <a href="/profile/{{user_id}}" target="_blank">
        <div class="medium-3 large-3 columns">
          <img src="{{avatar}}" alt="" class="round_img" />
        </div>
        <div class="medium-4 large-4 columns"><h4>{{nickname}}</h4></div>
        <div class="medium-2 large-2 columns czarCardImg">
          {{#if isCardCzar}} <img src="/images/czar.png" alt="" /> {{/if}}
        </div>
        <div class="medium-3 large-3 columns"><h4>{{score}}</h4></div>
      </a>
    </div>
  {{/each}}

  {{#if currentRound}}
    <div class="row">
      <div class="large-12 columns round text-center"><h3>Round {{currentRound}} of {{numRounds}}</h3></div>
    </div>
  {{/if}}
</script>


<script type="text/spacebars" name="gameArea">
  {{#if inSetupPhase}}
    {{> waitingArea}}
  {{/if}}

  {{#if inSubmissionPhase}}
    {{> submissionArea}}
  {{/if}}

  {{#if inSelectionPhase}}
    {{> timerArea}}
    {{> playArea}}
    {{> bottomArea}}
  {{/if}}

  {{#if inReviewPhase}}
    {{> reviewArea}}
  {{/if}}

  {{#if inEndPhase}}
    {{> endArea}}
  {{/if}}
</script>

<script type="text/spacebars" name="timerArea">
  <div class="row timer">
    <div class="medium-10 large-10 columns">&nbsp;</div>
    <div class="medium-2 large-2 columns">
      <div class="timer-container" id="timer-container"></div>
    </div>
  </div>
</script>

<script type="text/spacebars" name="bottomArea">
  <hr>
  <div class="row">
    {{> storyArea}}
    <div class="medium-6 large-6 columns">
      {{> chatArea}}
    </div>
  </div>
</script>

<script type="text/spacebars" name="submissionArea">
  <h2>submissionArea</h2>
</script>

<script type="text/spacebars" name="reviewArea">
  <h2>reviewArea</h2>
</script>

<script type="text/spacebars" name="endArea">
  <h2>endArea</h2>
</script>

<script type="text/spacebars" name="playArea">
  {{#if iAmCzar}}
    <div class="row play_area  text-center">
      <div class="large-12 columns">
        <h2>Something a person would wear _________ .</h2>
        <div class="row">
          <div class="small-12 columns">
            <div class="row">
            {{#unless winningCard}}
              {{#each currentCards}}

              <div class="small-6 medium-2 large-2 columns cardHolder">
                <div class="row">
                  <div class="small-12 medium-10 medium-centered large-10 large-centered columns card animated zoomIn">
                    <h4>{{this.word}}</h4>
                  </div>
                </div>
              </div>
              {{/each}}
            {{else}}
              <div class="small-6 medium-4 medium-centered large-4 large-centered columns card">
                <h4>WordHere</h4>
                <img src="http://placehold.it/60x60"/>
                <h5>Player Name</h5>
                <span class="score">+500</span>
              </div>
            {{/unless}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="row play_area  text-center">
      <div class="large-12 columns">
        <h2>Something a person would wear _________ .</h2>
        <div class="row">
          <div class="small-6 large-centered columns">
            <div class="row collapse">
              <div class="small-10 columns">
                <input type="text" placeholder="">
              </div>
              <div class="small-2 columns">
                <a href="#" class="button ">Submit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {{/if}}
</script>


<script type="text/spacebars" name="storyArea">
  <div class="medium-6 large-6 columns unselectable">
    <h5>{{story_id}}</h5>
    <p>Thanksgiving<span class="blur" >is tonight!</span> Walking <span class="blur">elit. Cras porttitor consequat</span> Drone<span class="blur">, at lobortis lacus</span> Touchdown <span class="blur">vitae. Suspendisse eget dignissim lectus. Nunc</span> Digital <span class="blur">ex magna vitae, convallis</span> Facebook <span class="blur">est.</span></p>
  </div>
</script>


<script type="text/spacebars" name="waitingArea">
    <div class="medium-6 large-6 columns text-center waitingArea">
      <img src="/images/clock.png"/>
      <h2>Waiting Area</h2>

      {{#if notEnoughPlayers}}
        <h3>{{playersNeeded}}</h3>
      {{else}}
        <h3>{{slotsLeft}} more player slots available</h3>
        {{#if noStorySelected}}
          <h3>Select a story to proceed</h3>
        {{/if}}
      {{/if}}

      {{#if gameReady}}
        <br />
        <button class="button start-game">Start Game Now</button>
      {{/if}}

      {{#if noStorySelected}}
        <hr>
        <h3>Select a story...</h3>
        {{#each availableStories}}
          <div class="large-12 columns">
            <div class="row">
              <div class="large-8 columns">
                <h4>{{name}}</h4>
              </div>
              <div class="large-4 columns">
                <button class="button select-story" data-story-id="{{_id}}">Select</button>
              </div>
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
    <div class="medium-6 large-6 columns text-center chatArea">
      {{> chatArea}}
    </div>
</script>


<script type="text/spacebars" name="chatArea">
  <div class="row chat text-left">
    <ul id="chat_container" class="no-bullet">
    </ul>
    <form action="" id="chatform" class="chat">
      <div class="large-8 columns">
        <input id="message" autocomplete="off" type="text"/>
      </div>
      <div class="large-4 columns">
        <button class="button button-large expand">Send Message</button>
      </div>
    </form>
  </div>
</script>

<% include partials/footer %>