<% include partials/header %>

<% include partials/sidebar %>

  <div class="medium-9 large-9 columns game_area">
    <div class="row">
      <div class="medium-10 large-10 columns">&nbsp;</div>
      <div class="medium-2 large-2 columns">Timer</div>
    </div>
    <div class="row play_area  text-center">
      <div class="large-12 columns">
        <h2>Something a person would wear _________ .</h2>
        <div class="row">
          <div class="small-6 large-centered columns">
            <div class="row collapse">
              <div class="small-10 columns">
                <input type="text" placeholder="">
              </div>
              <div class="small-2 columns">
                <a href="#" class="button ">Submit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="medium-6 large-6 columns">
        <p><span class="blur">Lorem ipsum dolor sit amet, consectetur</span> adipiscing <span class="blur">elit. Cras porttitor consequat</span> nunc<span class="blur">, at lobortis lacus</span> bibendum <span class="blur">vitae. Suspendisse eget dignissim lectus. Nunc</span> facilisis <span class="blur">ex magna. Integer sem nisi, sagittis sed felis vitae, convallis</span> sollicitudin <span class="blur">est.</span></p>
      </div>
      <div class="medium-6 large-6 columns">
        <div class="row chat">
          <ul id="chat_container" class="no-bullet">&nbsp;</ul>
          <form action="" id="chatform" class="chat">
            <input id="message" autocomplete="off" type="text" />
            <button class="button">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>


<% include partials/footer %>
