<% include partials/header %>
  <div class="row">
    <div class="large-2 columns">
      <div class="row logo">
        <div class="large-12 columns">Phrasecards</div>
      </div>
      <div class="row">
        <div class="large-2 columns"><img src="http://placehold.it/25x25" alt="" /></div>
        <div class="large-4 columns">David</div>
        <div class="large-2 columns"><img src="http://placehold.it/25x25" alt="" /></div>
        <div class="large-4 columns">00000</div>
      </div>
      <div class="row">
        <div class="large-2 columns"><img src="http://placehold.it/25x25" alt="" /></div>
        <div class="large-4 columns">Pippin</div>
        <div class="large-2 columns"><img src="http://placehold.it/25x25" alt="" /></div>
        <div class="large-4 columns">00000</div>
      </div>
      <div class="row">
        <div class="large-2 columns"><img src="http://placehold.it/25x25" alt="" /></div>
        <div class="large-4 columns">Yue</div>
        <div class="large-2 columns"><img src="http://placehold.it/25x25" alt="" /></div>
        <div class="large-4 columns">00000</div>
      </div>
      <div class="row">
        <div class="large-2 columns"><img src="http://placehold.it/25x25" alt="" /></div>
        <div class="large-4 columns">Dan</div>
        <div class="large-2 columns"><img src="http://placehold.it/25x25" alt="" /></div>
        <div class="large-4 columns">00000</div>
      </div>
      <div class="row">
        <div class="large-2 columns"><img src="http://placehold.it/25x25" alt="" /></div>
        <div class="large-4 columns">Mike</div>
        <div class="large-2 columns"><img src="http://placehold.it/25x25" alt="" /></div>
        <div class="large-4 columns">00000</div>
      </div>
      <div class="row">
        <div class="large-2 columns"><img src="http://placehold.it/25x25" alt="" /></div>
        <div class="large-4 columns">Sean</div>
        <div class="large-2 columns"><img src="http://placehold.it/25x25" alt="" /></div>
        <div class="large-4 columns">00000</div>
      </div>
      <div class="row">
        <div class="large-2 columns"><img src="http://placehold.it/25x25" alt="" /></div>
        <div class="large-4 columns">Colby</div>
        <div class="large-2 columns"><img src="http://placehold.it/25x25" alt="" /></div>
        <div class="large-4 columns">00000</div>
      </div>
      <div class="row">
        <div class="large-12 columns">Round N</div>
      </div>
    </div>

    <div class="large-10 columns">
      <div class="row">
        <div class="large-10 columns">blank</div>
        <div class="large-2 columns">timer</div>
      </div>
      <div class="row">
        <div class="large-12 columns">Text</div>
      </div>
      <div class="row">
        <div class="large-12 columns">Input</div>
      </div>
      <div class="row">
        <div class="large-8 columns">Story Text</div>
        <div class="large-4 columns">
          <div class="large-12 columns">Player 1</div>
          <div class="large-12 columns">Player 1</div>
          <div class="large-12 columns">Player 1</div>
          <div class="large-12 columns">send text</div>
        </div>
      </div>
    </div>

</div>
<% include partials/footer %>
