<% include partials/header %>

<div id="sidebar_parent" class="medium-3 large-3 columns sidebar">
  <!-- Blaze will populate this element with the "sidebar" template -->
</div>

<div id="gameArea_parent" class="medium-9 large-9 columns game_area">
  <!-- Blaze will populate this element with the "gameArea" template -->
</div>

<!-- Blaze/Spacebars Templates Below This Line -->

<script type="text/spacebars" name="sidebar">
  <div class="row">
    <div class="large-12 columns logo"><img src="/images/logo.png" alt="" /></div>
  </div>

  {{#each players}}
    <div class="row player">
      <a href="/profile/{{user_id}}" target="_blank">
        <div class="medium-3 large-3 columns">
          <img src="{{avatar}}" alt="" class="round_img" />
        </div>
        <div class="medium-4 large-4 columns"><h4>{{nickname}}</h4></div>
        <div class="medium-2 large-2 columns czarCardImg">
          {{#if isCardCzar}} <img src="/images/czar.png" alt="" /> {{/if}}
        </div>
        <div class="medium-3 large-3 columns"><h4>{{score}}</h4></div>
      </a>
    </div>
  {{/each}}

  {{#if currentRound}}
    <div class="row">
      <div class="large-12 columns round text-center"><h3>Round {{currentRound}} of {{numRounds}}</h3></div>
    </div>
  {{/if}}
</script>


<script type="text/spacebars" name="gameArea">
  {{#if inSetupPhase}}
    {{> waitingArea}}
  {{else}}
    {{#if inEndPhase}}
      {{> endArea}}
    {{else}}

      <div class="row timer">
        <div class="medium-10 large-10 columns">&nbsp;</div>
        <div class="medium-2 large-2 columns">
          <div class="timer-container" id="timer-container">
            <header id="clock-seconds"></header>
          </div>
        </div>
      </div>

      <div class="row play_area  text-center">
        <div class="large-12 columns">
          {{> playArea}}
        </div>
      </div>

      <hr>
      <div class="row">
        {{> storyArea}}
        <div class="medium-6 large-6 columns">
          {{> chatArea}}
        </div>
      </div>

    {{/if}}
  {{/if}}
</script>

<script type="text/spacebars" name="playArea">
  {{#if inSubmissionPhase}}
    {{#if iAmCzar}}

      <h2>{{currentStoryChunkPrefix}} __________ {{currentStoryChunkSuffix}}</h2>
      <h3>Waiting for Players to submit cards</h3>
      {{> submittedCards}}

    {{else}}

      {{#if iSubmittedACard}}
        <h2>Waiting for Other Players to submit cards</h2>
        {{> submittedCards}}
      {{else}}
        <h1>{{currentBlankType}}</h1>
        {{> cardSubmissionForm}}
      {{/if}}

    {{/if}}
  {{/if}}

  {{#if inSelectionPhase}}
    {{#if iAmCzar}}

      <h2>{{currentStoryChunkPrefix}} __________ {{currentStoryChunkSuffix}}</h2>
      {{#unless winningCard}}
        <h3>Select a winning card</h3>
        {{> cardSelectionForm}}
      {{else}}
        <h3>Selected "{{winningCard.word}}"</h3>
      {{/unless}}

    {{else}}
      <h1>{{currentBlankType}}</h1>
      {{> submittedCards}}

    {{/if}}
  {{/if}}

  {{#if inReviewPhase}}
    {{> reviewArea}}
  {{/if}}

</script>

<script type="text/spacebars" name="submittedCards">
  {{#each currentCards}}
    <div class="small-6 medium-2 large-2 columns cardHolder">
      <div class="row">
        <div class="small-12 medium-10 medium-centered large-10 large-centered columns card animated zoomIn">
          <h4>{{this.word}}</h4>
        </div>
      </div>
    </div>
  {{/each}}
</script>

<script type="text/spacebars" name="cardSubmissionForm">
  <div class="row collapse">
    <form action="" id="card-submission-form">
      <div class="small-10 columns">
        <input id="card-input" type="text" placeholder="Enter a word of the above type">
      </div>
      <div class="small-2 columns">
        <button class="button" type="submit">Submit</button>
      </div>
    </form>
  </div>
</script>

<script type="text/spacebars" name="cardSelectionForm">
  {{#each currentCards}}
    <div class="small-6 medium-2 large-2 columns cardHolder">
      <div class="row">
        <div class="small-12 medium-10 medium-centered large-10 large-centered columns card animated zoomIn">
          <h4>{{this.word}}</h4>
          <a href="#" class="button button-large success expand selectCard" data-submission-id="{{this._id}}">Select</a>
        </div>
      </div>
    </div>
  {{/each}}
</script>

<script type="text/spacebars" name="reviewArea">
  <div class="row">
    <div class="small=12 medium-8 medium-centered large-8 large-centered text-center reviewArea columns">
      <h2>End of Round 1</h2>
      <hr>
      <div class="row">
        <div class="small-6 medium-6 large-6 columns">
          <div class="small-12 medium-10 medium-centered large-8 large-centered columns reviewCard  animated zoomIn">
            <h4>{{winningCard}}</h4>
            <img src="http://placehold.it/60x60"/>
            <h5>{{winningUserName}}</h5>
            <span class="score">+500</span>
          </div>
        </div>
        <div class="small-6 medium-6 large-6 columns">
          <a href="#" class="button buton-large">Start Next Round</a>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/spacebars" name="endArea">
  <div class="row">
    <div class="small=12 medium-12 medium-centered large-12 large-centered text-center endArea columns">
      <h2>End of Game</h2>
      <hr>
      <div class="row">
        <div class="small-6 medium-4 medium-centered large-4 large-centered columns animated zoomIn">
          <h3>Winner</h3>
          <hr>
          <h4>{{winningPlayerName}}</h4>
          <h5>{{winningScore}}</h5>
          <hr>
        </div>
      </div>
      <div class="row storyReview">
        <div class="small-12 medium-6 large-6 columns text-left">
          <h4>{{storyName}}</h4>
          <p>
            {{#each storyChunk}}
              // Write out story
            {{/each}}
          </p>
        </div>
        <div class="small-12 medium-6 large-6 columns text-left">
          {{> chatArea}}
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/spacebars" name="storyArea">
  <div class="medium-6 large-6 columns unselectable">
    <h5>{{story_id}}</h5>
    <p>
      {{#each currentStory}}
        // Write out story
      {{/each}}</p>
  </div>
</script>


<script type="text/spacebars" name="waitingArea">
    <div class="medium-6 large-6 columns text-center waitingArea">
      {{#if noStorySelected}}
        <h3>Select a story...</h3>
        {{#each availableStories}}
          <div class="large-12 columns">
            <div class="row">
              <div class="large-8 columns">
                <h4>{{name}}</h4>
              </div>
              <div class="large-4 columns">
                <button class="button select-story" data-story-id="{{_id}}">Select</button>
              </div>
            </div>
          </div>
        {{/each}}
      {{else}}
        <br /><br /><br /><br />
        <h3>Selected Story:</h3>
        <h2>{{storyName}}</h2>
      {{/if}}
      {{#if gameReady}}
        <br />
        <button class="button start-game">Start Game Now</button>
      {{/if}}
    </div>
    <div class="medium-6 large-6 columns text-center waitingArea">
      <img src="/images/clock.png"/>
      <h2>Waiting Area</h2>

      {{#if notEnoughPlayers}}
        <h3>{{playersNeeded}}</h3>
      {{else}}
        <h3>{{slotsLeft}} more player slots available</h3>
        {{#if noStorySelected}}
          <h3>Select a story to proceed</h3>
        {{/if}}
      {{/if}}
      {{> chatArea}}
    </div>
</script>


<script type="text/spacebars" name="chatArea">
  <div class="row chat text-left chatArea">
    <ul id="chat_container" class="no-bullet">
    </ul>
    <form action="" id="chatform" class="chat">
      <div class="large-8 columns">
        <input id="message" autocomplete="off" type="text"/>
      </div>
      <div class="large-4 columns">
        <button class="button button-large expand">Send Message</button>
      </div>
    </form>
  </div>
</script>

<% include partials/footer %>