<% include partials/header %>
    <div class="row">
        <div class="large-2 columns">Left side</div>
        <div class="row">
            <div class="large-12 columns">Phrasecards</div>
        </div>
        <div class="row">
            <div class="large-6 columns">David</div>
            <div class="large-2 columns">logo</div>
            <div class="large-4 columns">Points</div>
        </div>
        <div class="row">
            <div class="large-6 columns">Pippin</div>
            <div class="large-2 columns">logo</div>
            <div class="large-4 columns">Points</div>
        </div>
        <div class="row">
            <div class="large-6 columns">Yue</div>
            <div class="large-2 columns">logo</div>
            <div class="large-4 columns">Points</div>
        </div>
        <div class="row">
            <div class="large-6 columns">Dan</div>
            <div class="large-2 columns">logo</div>
            <div class="large-4 columns">Points</div>
        </div>
        <div class="row">
            <div class="large-6 columns">Mike</div>
            <div class="large-2 columns">logo</div>
            <div class="large-4 columns">Points</div>
        </div>
        <div class="row">
            <div class="large-6 columns">Sean</div>
            <div class="large-4 columns">Points</div>
            <div class="large-2 columns">logo</div>
        </div>
        <div class="row">
            <div class="large-6 columns">Colby</div>
            <div class="large-2 columns">logo</div>
            <div class="large-4 columns">Points</div>
        </div>
        <div class="large-12 columns">Round N</div>
    </div>

    <div class="row">
        <div class="large-10 columns">Right Side</div>
        <div class="row">
            <div class="large-11 columns">blank</div>
            <div class="large-1 columns">timer</div>
        </div>
        <div class="row">
            <div class="large-12 columns">Text</div>
        </div>
        <div class="row">
            <div class="large-12 columns">Input</div>
        </div>
        <div class="row">
            <div class="large-8 columns">Story Text</div>
            <div class="row">
                <div class="large-12 columns">Player 1</div>
            </div>
            <div class="row">
                <div class="large-12 columns">Player 1</div>
            </div>
            <div class="row">
                <div class="large-12 columns">Player 1</div>
            </div>
            <div class="row">
                <div class="large-12 columns">send text</div>
            </div>
        </div>
    </div>
<% include partials/footer %>
