<% include partials/header %>

<% include partials/sidebar %>

  <div class="medium-9 large-9 columns game_area">
    <div class="row">
      <div class="medium-10 large-10 columns">&nbsp;</div>
      <div class="medium-2 large-2 columns">Timer</div>
    </div>
    <div class="row play_area  text-center">
      <div class="large-12 columns">Play Area</div>
    </div>
    <div class="row">
      <div class="medium-6 large-6 columns">
        <p><span class="blur">Lorem ipsum dolor sit amet, consectetur</span> adipiscing <span class="blur">elit. Cras porttitor consequat</span> nunc<span class="blur">, at lobortis lacus</span> bibendum <span class="blur">vitae. Suspendisse eget dignissim lectus. Nunc</span> facilisis <span class="blur">ex magna. Integer sem nisi, sagittis sed felis vitae, convallis</span> sollicitudin <span class="blur">est.</span></p>
      </div>
    </div>
    <div class="row chat">

    </div>
  </div>


<% include partials/footer %>
