<!DOCTYPE html>
<html>
  <head>
    <title>PhraseCards</title>
    <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>Home Page</h1>
    <script src="http://cdn.foundation5.zurb.com/foundation.js"></script>
  </body>
</html>
