<% include partials/header %>
  <div class="row">
    <div class="small-6 large-centered columns">
      <img src="images/logo.png" alt="PhraseCards" class="logo" />

        <h1>Welcome to Homepage!</h1>

    </div>
  </div>
<% include partials/footer %>
