<% include partials/header %>


  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <h1>Lobby Page</h1>
        <p>
        <strong>Welcome</strong>: <%= user.local.nickname %>
        <img src= <%= avatar %> />
        </p>
    </div>
  </div>


<% include partials/footer %>
