<% include partials/header %>
<div class="row">
	<div class="small-6 large-centered columns">
    <img src="images/logo.png" alt="PhraseCards" class="logo" />
    <div class="row">
      <div class="small-12 columns login">
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <form action="/signup" method="post">
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
            <div class="form-group">
            <label>Nickname</label>
            <input type="text" class="form-control" name="nickname">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
          </div>
          <div class="form-group">
            <label>Password Confirmation</label>
            <input type="password" class="form-control" name="passwordconfirmation">
          </div>
          <button type="submit" class="button button-large button-success right">Signup</button>
        </form>
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>
