<% include partials/header %>
  <div class="row">
    <div class="small-6 medium-centered large-centered columns story_choice text-center">
      <h2>Pick a story</h2>
    </div>
    <div class="row">
      <div class="small-12 medium-4 large-3 columns story_choice text-center">
        <div class="panel">
          <h3>Story Title</h3>
          <p>Story description. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <p class="story_info">12 Rounds</p>
          <p class="story_info">Aprox. 1hr</p>
          <a href="/game" class="button button-large expand play">Play</a>
        </div>
      </div>
      <div class="small-12 medium-4 large-3 columns story_choice text-center">
        <div class="panel">
          <h3>Story Title</h3>
          <p>Story description. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <p class="story_info">12 Rounds</p>
          <p class="story_info">Aprox. 1hr</p>
          <a href="/game" class="button button-large expand play">Play</a>
        </div>
      </div>
      <div class="small-12 medium-4 large-3 columns story_choice text-center">
        <div class="panel">
          <h3>Story Title</h3>
          <p>Story description. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <p class="story_info">12 Rounds</p>
          <p class="story_info">Aprox. 1hr</p>
          <a href="/game" class="button button-large expand play">Play</a>
        </div>
      </div>
      <div class="small-12 medium-4 large-3 columns story_choice text-center">
        <div class="panel">
          <h3>Story Title</h3>
          <p>Story description. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <p class="story_info">12 Rounds</p>
          <p class="story_info">Aprox. 1hr</p>
          <a href="/game" class="button button-large expand play">Play</a>
        </div>
      </div>
    </div>
  </div>

<% include partials/footer %>