body {
	background: #45ACF1;
}


.login {
	padding-top: 40px;
}


img {
	width: 100%;
	height: auto;
}

/* LOGIN */

.login input[type="text"],.login input[type="password"]  {
	font-size: 32px;
	height: 38px;
	backgound-color: #45ACF1!important;
	-webkit-box-shadow: 0 0 0px 1000px #45ACF1 inset;
	border: none;
	border-bottom: 2px solid #E4E0E1;
}


/* ABOUT */
.about {
	padding: 40px 0 0 0;
}

/* LOBBY */
.lobby {
	padding: 40px 0 0 0;
}
.lobby .panel .new_game{
	padding: 20% 0 0 0;
	min-height: 260px;
}

.lobby .panel .game{
	padding: 20px 0 0 0;
	min-height: 260px;
}

.lobby .panel .new_game a {
	font-size: 82px;
}



/* SIDEBAR */

.logo {
	margin: 40px 0 40px 0;
}

.sidebar {
	height: 100%;
	color: #333;
	padding: 20px;
	background: white;
}

.round {
	margin: 40px 0 0 0;
}


/* MAIN GAME AREA */
.game_area {

}

.play_area {
	font-size: 42px;
	min-height: 30%;
	padding: 10% 0;
}

.chat {

}
