body {
  background: #45ACF1;
  font-family: 'Lato'!important;
  color: white;
}

.fa-bars {
  color: white;
  margin-left: 20px;
}

.login {
  padding-top: 40px;
}

img {
  width: 100%;
  height: auto;
}

img.clickable {
  opacity: 0.5;
  cursor: pointer;
}

img.clickable:hover {
  opacity: 1.0;
}

.img_rounded {
  border-radius: 100%;
}
/* LOGIN */
.home {
  margin-top: 60px;
}

.potential_friend h4 {
  color: white;
  font-family: 'Lato', sans-serif!important;
  font-weight: 300;
}


.lead {
  font-family: 'Lato', sans-serif!important;
  font-weight: 300;
}
input[type="email"], input[type="email"]:focus,
.login input[type="text"],
.login input[type="password"],
.play_area input[type="text"],
.chat input[type="text"],
.back input[type="text"],
.search input[type="text"] {
  font-size: 32px;
  height: 48px;
  color: white;
  background: #45ACF1!important;
  backgound-color: #45ACF1!important;
  -webkit-box-shadow: 0 0 0px 1000px #45ACF1 inset;
  box-shadow: 0 0 0px 1000px #45ACF1 inset;
  border: none;
  border-bottom: 2px solid #E4E0E1;
  font-family: 'Lato', sans-serif!important;
  font-weight: 300;
}

form a, form label {
  color: white;
  opacity: 0.5;
}


/* ABOUT */
.about {
  padding: 40px 0 0 0;
}


/* LOBBY */
.lobby {
  padding: 80px 0 0 0;

}

.lobby h3, .lobby li {
  font-family: 'Lato', sans-serif!important;
  color: white;
}

.mini_profile h3 {
  color: white;
  margin: -5px 0 -5px -5px;
}
.mini_profile_links {
  margin-left: -35px!important;
}

.panel {
  background: none;
  padding: 40px;
}

.lobby .panel .new_game{
  padding: 20% 0 0 0;
  min-height: 240px;
}

.lobby .panel .game{
  padding: 10px 0 0 0;
  min-height: 240px;
}

.new_game {
  min-height: 323px;
}

.back {
  margin-top: -260px;
  padding: 40px 10px 0 10px;
  color: white;
  text-align: center;
  max-height: 323px;
}

/*STORY PICKER*/
.story_choice p, .story_choice h3, .story_choice h2{
  font-family: 'Lato', sans-serif!important;
  color: white;
}
.story_choice h2 {
  margin-bottom: 90px;
}
.story_choice h3 {
}
.story_info {
  font-size: 1.4em;
  margin-bottom: 0;
}

.play {
  margin-top: 20px;
}


/* SIDEBAR */

.logo {
  margin: 40px 0 40px 0;
}

.sidebar {
  height: 100%;
  color: #333;
  padding: 20px;
  background: white;
}

.player h4 {
  font-family: 'Lato', sans-serif!important;
}

.round h3 {
  font-family: 'Lato', sans-serif!important;
  font-weight: 300;
  font-size: 42px;
  color: #CCCCCC;
}

.round {
  margin: 40px 0 0 0;
}


/* MAIN GAME AREA */
.game_area {

}
.waitingArea {
  padding-top: 120px;
  color: white;
}

.waitingArea h2, .waitingArea h3 {
  font-family: 'Lato', sans-serif!important;
  font-weight: 300;
  color: white;
}
.waitingArea img {
  max-width: 128px;
}

.timer {
  margin-top: 20px;
}


.timer-container {
  max-width: 60px;
}

 #clock-seconds {
  font-size: 2em;
  position: absolute;
  top: 44%;
  left: 34%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }


.play_area {
  font-size: 42px;
  min-height: 240px;
  padding: 10px 0 0 0;
}

.play_area h2 {
  color: white;
  margin: 20px 0 80px 0;
}
.play_area .button {
  margin-left: 10px;

}

.play_area input {
margin-top: 20px;
}
.card {
  padding: 20% 0 0 0;
  min-height: 160px;
}
.word {
  font-size: .4em;
  color: white;
  font-family: 'Lato', sans-serif!important;
}
.not_in {
  background: #007298;
  border: none;
}


.blur {
  color: transparent;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#chat_container {
  font-size: 18px;
  position:   relative;
  width:      100%;
  height:     140px;
  /*I want overflow as hidden but still arrow and mouse scrollable*/
  /* I will find another way to fix the box showing in firefox if
  we set overflow to auto it breaks the javascript update scroll. - Colby */
  overflow-x: hidden;
  margin-bottom: 30px;
  word-wrap: break-word;
}

/*not working*/
#chat_scrolling {
  height: 140px;
  width: (100% + 18px); /* +18px for scrollbar width */
  overflow-x: hidden;
  overflow-y: auto;
}

.round_img {
  border-radius: 100%;
  float: left;
  max-width: 40px;
  margin-right: 10px;
}

.chat_row {
  width: 100%;
  line-height: 38px;
  margin: 8px 0;
}


.chat {
  margin-top: 40px;
}

/* PROFILE */
.profile {
  margin-top: 80px;
  font-family: 'Lato', sans-serif!important;
}

.profile h2, .profile h3, .subheader {
  font-family: 'Lato', sans-serif!important;
  color: white;
}
.profile h2 {
  font-size: 22px;
}
.profile img{
  border-radius: 100%;
}
.search {
  padding-top: 40px;
}
.friends img {
  margin: 4px 0;
  border-radius: 100%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}