body {
  background: #45ACF1;
  font-family: 'Lato'!important;
  color: white;
}

h1, h2, h3, h4, h5, p,
.lead, .word, .subheader,
.lobby li, #clock-seconds {
  font-family: 'Lato'!important;
  color: white;
}

/* Home Page  ------------------------------------------------- */
.home {
  margin-top: 60px;
}

.login {
  padding-top: 40px;
}

input[type="email"],
input[type="email"]:focus,
input[type="text"],
input[type="text"]:focus,
input[type="password"],
input[type="password"]:focus {
  font-size: 32px;
  height: 48px;
  color: white;
  background: #45ACF1!important;
  backgound-color: #45ACF1!important;
  -webkit-box-shadow: 0 0 0px 1000px #45ACF1 inset;
  box-shadow: 0 0 0px 1000px #45ACF1 inset;
  border: none;
  border-bottom: 2px solid #E4E0E1;
  font-family: 'Lato', sans-serif!important;
  font-weight: 300;
}

form a, form label {
  color: white;
  opacity: 0.5;
}

/* ABOUT  ------------------------------------------------- */
.about {
  padding: 40px 0 0 0;
}

/* LOBBY  ------------------------------------------------- */
.lobby {
  padding: 80px 0 0 0;
}

.mini_profile {
  margin-top: 12px;
}

.mini_profile h3 {
  color: white;
  margin: -5px 0 -5px -5px;
}

.mini_profile_links {
  margin-left: -35px!important;
}

.panel {
  background: none;
  padding: 40px;
}

.lobby .panel .new_game{
  padding: 20% 0 0 0;
  min-height: 240px;
}

.lobby .panel .game{
  padding: 10px 0 0 0;
  min-height: 240px;
}

.new_game {
  min-height: 348px;
}

.back {
  margin-top: -260px;
  padding: 40px 10px 0 10px;
  color: white;
  text-align: center;
  max-height: 323px;
}

#new_game_panel {

  float: left!important;
}

/*STORY PICKER  -------------------------------------------------  */
.story_choice h2 {
  margin-bottom: 90px;
}

.story_info {
  font-size: 1.4em;
  margin-bottom: 0;
}

.play {
  margin-top: 20px;
}


/* SIDEBAR -------------------------------------------------  */

.logo {
  margin: 40px 0 40px 0;
}

.sidebar {
  height: 100%;
  color: #333;
  padding: 20px;
  background: white;
}

.player h4 {
  color: black;
  font-family: 'Lato', sans-serif!important;
}

.round h3 {
  font-family: 'Lato', sans-serif!important;
  font-weight: 300;
  font-size: 42px;
  color: #CCCCCC;
}

.round {
  margin: 40px 0 0 0;
}

.czarCardImg img {
  margin-top: 10px;
}


/* MAIN GAME AREA ------------------------------------------------- */
.waitingArea {
  padding: 60px 0;
  color: white;
}

.waitingArea img {
  max-width: 128px;
}

.selectStory .panel {
  padding: 10px;
}

.timer {
  margin-top: 20px;
}

.timer-container {
  max-width: 60px;
}

#clock-seconds {
  font-weight: 200;
  font-size: 1.6em;
  position: absolute;
  top: 44%;
  left: 28%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.play_area {
  font-size: 42px;
  min-height: 240px;
  padding: 10px 0 0 0;
}

.play_area h2 {
  margin: 20px 0 80px 0;
}

.play_area .button {
  margin-left: 10px;

}

.play_area input {
  margin-top: 20px;
}

.card {
  color:white;
  padding: 20px 2px;
  background: black;
  min-height: 211px;
  border-radius: 5px;
  float: left!important;
}

.reviewArea {
  margin-top: 20px;
}

.reviewCard {
  color:white;
  padding: 20px 2px;
  background: black;
  min-height: 211px;
  border-radius: 5px;
  margin-bottom: 80px;
}

.reviewCard img {
  max-width: 80px;
  border-radius: 100%;
}

.reviewCard h4 {
  font-size: 0.8em;
}

.reviewCard .score {
  color: #5FCF80;
  font-size: 1.2em;
  margin: 0;
}

.selectCard {
  margin-top: 40px;
  margin-left: 0px!important;
}

.storyReview {
  margin-top: 60px!important;
}

.card img {
  max-width: 40px;
  border-radius: 100%;
}
.card h4 {
  font-size: 0.6em;
}

.nextRound {
  margin-top: 80px;
}

.cardHolder {
  float: left!important;
}

.score {
  color: #5FCF80;
  font-size: 0.6em;
  margin: 0;
}
.word {
  font-size: .4em;
}
.not_in {
  background: #007298;
  border: none;
}

.blur {
  color: transparent;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#chat_container {
  font-size: 18px;
  position:   relative;
  width:      100%;
  height:     140px;
  overflow-x: hidden;
  margin-bottom: 30px;
  word-wrap: break-word;
}

#chat_scrolling {
  height: 140px;
  width: (100% + 18px); /* +18px for scrollbar width */
  overflow-x: hidden;
  overflow-y: auto;
}

.round_img {
  border-radius: 100%;
  float: left;
  max-width: 40px;
  margin-right: 10px;
}

.chat_row, .chatArea ul li {
  width: 100%;
  line-height: 38px;
  margin: 8px 0;
}

.chat {
  margin-top: 40px;
}

.chatArea img {
  max-width: 40px;
}
/* PROFILE ------------------------------------------------- */
.profile {
  margin-top: 80px;
  font-family: 'Lato', sans-serif!important;
}

.profile h2 {
  font-size: 22px;
}

.profile img{
  border-radius: 100%;
}

.search {
  padding-top: 40px;
}

.friends img {
  margin: 4px 0;
  border-radius: 100%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Image Helpers ------------------------------------------------- */
img {
  width: 100%;
  height: auto;
}

img.clickable {
  opacity: 0.5;
  cursor: pointer;
}

img.clickable:hover {
  opacity: 1.0;
}

.img_rounded {
  border-radius: 100%;
}