    <script src="/lib/modernizr/modernizr.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="/lib/jquery.cookie/jquery.cookie.js"></script>
    <script src="/lib/fastclick/lib/fastclick.js"></script>
    <script src="/lib/foundation/js/foundation.js"></script>
    <script src="/javascripts/global.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/chat.js"></script>
    <script src="/javascripts/progressbar.js"></script>
    <script src="/javascripts/timer.js"></script>
    <script src="/javascripts/hideStory.js"></script>

    <% if(locals.usingBlaze) { %>
        <script src="/javascripts/blaze.js"></script>
    <% } %>

    <% if(locals.pageName === 'lobby') { %>
        <script src="/javascripts/lobby.js"></script>
    <% } else if (locals.pageName === 'game') { %>
        <script src="/javascripts/game.js"></script>
    <% } %>

  </body>
</html>
