<!DOCTYPE html>
<html>
  <head>
    <title>PhraseCards</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/lib/foundation/css/normalize.css">
    <link rel="stylesheet" href="/lib/foundation/css/foundation.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/animate.css/animate.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% if(locals.user) { %>
      <script>
        window.loggedInUser = {
          _id      : "<%= user._id %>",
          email    : "<%= user.local.email %>",
          nickname : "<%= user.local.nickname %>"
        };
      </script>
    <% } %>
  </head>
  <body>
  <% include nav %>
  <i class="fa fa-bars"></i>
