<div class="row top_profile">
	<div class="small-8 columns">&nbsp;</div>
	<div class="small-4 columns">
		<div class="row">
			<div class="small-4 columns">
				<img src= <%= avatar %> />
			</div>
			<div class="small-8 columns">
				<h4><%= user.local.nickname %> </h4>
			</div>
		</div>
	</div>
</div>
